/* ============================================================
HEADER
============================================================ */
.mp-header {
    background-color: pink;
    height: 75px;
}

.mypage {
    margin: 135px 0;
}

/* ============================================================
INNER
============================================================ */
.mypage>.inner {
    max-width: var(--inner-width);
    width: 100%;
    margin: 0 auto;
}

/* .mp-main>h2 {
    margin-top: 60px;
    margin-left: 280px;
} */

/* ============================================================
USER INFORMATION
============================================================ */
.mp-main {
    /* background: aquamarine; */
    margin: 0 auto;
}

.mp-main>h2 {
    font-size: 2em;
    margin-left: 210px;
}

.user-info-list-wrap {
    /* background-color: pink; */
    margin-top: 30px;
    margin-left: 210px;
    display: flex;
    /* justify-content: space-between; */
    gap: 60px;
}

.user-info-wrap {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.user-info-list-wrap>.profile {
    display: block;
    width: 150px;
    height: 150px;
    /* border: 1px solid red; */
    /* margin-right: 30px; */
}

.user-info-list-top {
    display: flex;
    gap: 60px;
    align-items: center;
    margin-bottom: 18px;
}

.user-info-list-top>strong {
    font-size: 1.50em;
    font-weight: 600;
}

.user-info-list-top>p {
    font-size: 1.13em;
    font-weight: 400;
}

.user-info-list-top>span {
    padding: 5px 5px;
    background-color: #ccfb55;
    border: 2px solid #111;
    font-size: 1em;
    font-weight: 400;
}

.user-info-list-middle {
    display: flex;
    align-items: center;
    margin-bottom: 18px;
}

.user-info-list-middle>strong {
    margin-right: 60px;
    font-size: 1.50em;
    font-weight: 600;
}

.user-info-list-middle>p {
    margin-right: 120px;
    font-size: 1.13em;
    font-weight: 400;
}

.user-info-list-middle>.num {
    padding: 5px 5px;
    background: #fff;
    border: 2px solid #111;
    font-size: 16px;
    font-weight: 400;
}

.user-info-list-bottom {
    display: flex;
}

.user-info-list-bottom>strong {
    margin-right: 60px;
    font-size: 1.50em;
    font-weight: 600;
}

.user-info-list-bottom>p {
    font-size: 1.13em;
    font-weight: 400;
}

.address-wrap {
    margin-left: 210px;
    margin-top: 60px;
    /* background-color: skyblue; */
}

.user-info-address {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.user-info-address>strong {
    font-size: 1.50em;
    font-weight: 600;
}

.user-info-address>p {
    margin-top: 30px;
    font-size: 1.13em;
    font-weight: 400;
}

/* ============================================================
COUPON
============================================================ */
.coupon-list-wrap {
    /* background-color: orange; */
    margin-top: 60px;
    margin-left: 210px;
}

.coupon-title {
    display: flex;
    align-items: center;
    gap: 30px;
}

.coupon-title>h2 {
    font-size: 1.50em;
    font-weight: 600;
}

.coupon-title>span {
    padding: 5px 5px;
    background: #fff;
    border: 2px solid #111;
    font-size: 16px;
    font-weight: 400;
}

.coupon-list {
    display: flex;
    justify-content: space-between;
}

.coupon-list>.coupon-list1,
.coupon-list>.coupon-list2 {
    display: flex;
    gap: 8em;
    justify-content: space-between;
    padding: 10px 0;
    /* margin-left: 210px; */
    margin-top: 30px;
    border-bottom: 1px solid #111;
    font-size: 1.13em;
    font-weight: 400;
    width: fit-content;
}

/* ============================================================
PRODUCT LIST
============================================================ */
.mp-product-list-wrap {
    /* background-color: pink; */
    margin-left: 210px;
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
}

.product-list-title {
    display: flex;
    gap: 30px;
    margin-bottom: 30px;
}

.info-title {
    font-size: 1.50em;
    opacity: 0;
    margin-bottom: 30px;
}


.product-list-title>h3 {
    font-size: 1.50em;
    font-weight: 600;
}

.product-list-title>span {
    padding: 5px 5px;
    background: #fff;
    border: 2px solid #111;
    font-size: 1em;
    font-weight: 400;
}

.mp-product-list-wrap .mp-product-info,
.mp-product-info-wrap .mp-product-info {
display: flex;
flex-direction: column;
align-items: center;
}

.mp-product-list-wrap h4,
.mp-product-info-wrap h4 {
    text-align: center;
    margin-top: 1.6em;
    font-size: 1.13em;
    font-weight: 400;

    width: 100%;
    max-width: 150px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    text-align: center;
}

.mp-product-list-wrap>.product-list .price,
.mp-product-info-wrap .price {
    text-align: center;
    margin-top: 0.8em;
    font-size: 1.13em;
    font-weight: 400;
}

.product-list,
.mp-product-info-wrap {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100%;
}

/* ============================================================
BUTTON
============================================================ */
.mp-btn {
    display: flex;
    justify-content: center;
    gap: 120px;
    flex: 1;
}

.mp-btn>a {
    padding: 10px 50px;
    background: #fff;
    border: 2px solid #111;
    margin-top: 120px;
    font-size: 1.13em;
}

/* ============================================================
FOOTER WRAP
============================================================ */
.mp-footer-wrap>address .mp-footer {
    display: flex;
    justify-content: center;
    gap: 120px;
    margin-top: 60px;
    margin-bottom: 60px;
}

.mp-footer>li>a {
    color: #999;
    font-size: 0.88em;
    font-weight: 400;
}


/* ============================================================
I-PAD
============================================================ */
@media screen and (max-width:1280px) {
    .inner {
        /* background: pink; */
        max-width: 1280px;
    }

    .inner>.mp-main>h2 {
        margin-top: 30px;
        margin-left: 60px;
    }

    .user-info-list-wrap {
        /* background-color: pink; */
        margin-top: 30px;
        margin-left: 70px;
        display: flex;
    }

    .user-info-list-wrap>.profile {
        display: block;
        width: 110px;
        height: 110px;
        /* border: 1px solid red; */
        margin-right: 30px;
    }

    .user-info-list-top {
        display: flex;
        gap: 30px;
        align-items: center;
    }

    .user-info-list-top>strong {
        font-size: 1.25em;
        font-weight: 600;
    }

    .user-info-list-top>p {
        font-size: 1.25em;
        font-weight: 400;
    }

    .user-info-list-top>span {
        padding: 3px 3px;
        background-color: #ccfb55;
        border: 2px solid #111;
        font-size: 1.13em;
        font-weight: 400;
    }

    .user-info-list-middle {
        display: flex;
        align-items: center;
        margin-bottom: 12px;
    }

    .user-info-list-middle>strong {
        margin-right: 30px;
        font-size: 1.25em;
        font-weight: 600;
    }

    .user-info-list-middle>p {
        margin-right: 50px;
        font-size: 1.25em;
        font-weight: 400;
    }

    .user-info-list-middle>.num {
        padding: 5px 5px;
        background: #fff;
        border: 2px solid #111;
        font-size: 1.25em;
        font-weight: 400;
    }

    .user-info-list-bottom {
        display: flex;
    }

    .user-info-list-bottom>strong {
        margin-right: 30px;
        font-size: 1.25em;
        font-weight: 600;
    }

    .user-info-list-bottom>p {
        font-size: 1.25em;
        font-weight: 400;
    }

    .address-wrap {
        margin-left: 210px;
        /* background-color: skyblue; */
    }

    .user-info-address {
        margin-top: 30px;
    }

    .user-info-address>strong {
        font-size: 1.25em;
        font-weight: 600;
    }

    .user-info-address>p {
        margin-top: 15px;
        font-size: 1.25em;
        font-weight: 400;
    }


    .coupon-list-wrap {
        /* background-color: orange; */
        margin-top: 60px;
        margin-left: 210px;
    }

    .coupon-title {
        display: flex;
        align-items: center;
        gap: 30px;
    }

    .coupon-title>h2 {
        font-size: 1.25em;
        font-weight: 600;
    }

    .coupon-title>span {
        padding: 3px 3px;
        background: #fff;
        border: 2px solid #111;
        font-size: 1.13em;
        font-weight: 400;
    }

    .coupon-list>.coupon-list1,
    .coupon-list>.coupon-list2 {
        display: flex;
        gap: 60px;
        padding: 15px 5px;
        margin-top: 15px;
        border-bottom: 1px solid #111;
        font-size: 1.25em;
        font-weight: 400;
        width: fit-content;
    }


    .mp-product-list-wrap {
        display: flex;
        margin-top: 60px;
        margin-left: 210px;
        gap: 130px;
    }

    .mp-product-list-wrap .product-list-title {
        display: flex;
        align-items: center;
        gap: 30px;
        margin-bottom: 20px;
    }

    .mp-product-list-wrap .product-list-title>h3 {
        font-size: 1.25em;
        font-weight: 600;
    }

    .mp-product-list-wrap .product-list-title>span {
        display: none;
        /* padding: 3px 3px;
        background: #fff;
        border: 2px solid #111;
        font-size: 1.13em;
        font-weight: 400; */
    }

    .product-list {
        /* background-color: pink; */
        width: 150px;
    }

    .mp-product-list-wrap .mp-product-info {
        display: -webkit-box;
        -webkit-line-clamp: 2;
        /* 보여줄 줄 수 지정 (2줄) */
        -webkit-box-orient: vertical;

        /* 넘치는 텍스트 숨기기 */
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .mp-product-list-wrap h4 {
        text-align: center;
        margin-top: 10px;
        font-size: 1.25em;
        font-weight: 600;
    }

    .mp-product-list-wrap>.product-list .price {
        text-align: center;
        margin-top: 10px;
        font-size: 1.25em;
        font-weight: 600;
    }

    .mp-product-info img {
        width: 150px;
    }

    .mp-btn {
        display: flex;
        justify-content: center;
        gap: 120px;
    }

    .mp-btn>a {
        padding: 10px 50px;
        background: #fff;
        border: 2px solid #111;
        margin-top: 180px;
        font-size: 1em;
    }

    .mp-footer-wrap>address .mp-footer {
        display: flex;
        justify-content: center;
        gap: 120px;
        margin-top: 60px;
        margin-bottom: 60px;
    }

    .mp-footer>li>a {
        color: #999;
        font-size: 0.88em;
        font-weight: 400;
    }


}


/* ============================================================
MOBILE
============================================================ */
@media screen and (max-width:789px) {
    .mypage {
        margin: 75px 0;
    }

    .inner {
        /* background: pink; */
        max-width: 789px;
    }

    .inner>.mp-main>h2 {
        margin-top: 15px;
        margin-left: 30px;
    }

    .user-info-list-wrap {
        /* background-color: pink; */
        margin-top: 30px;
        margin-left: 30px;
        display: flex;
    }

    .user-info-list-wrap>.profile {
        display: block;
        width: 100px;
        height: 100px;
        /* border: 1px solid red; */
        margin-right: 15px;
    }

    .user-info-list-top {
        display: flex;
        gap: 15px;
        align-items: center;
    }

    .user-info-list-top>strong {
        font-size: 1em;
        font-weight: 600;
    }

    .user-info-list-top>p {
        font-size: 1em;
        font-weight: 400;
    }

    .user-info-list-top>span {
        padding: 2px 2px;
        background-color: #ccfb55;
        border: 2px solid #111;
        font-size: 0.75em;
        font-weight: 400;
    }

    .user-info-list-middle {
        display: flex;
        align-items: center;
        margin-bottom: 12px;
    }

    .user-info-list-middle>strong {
        margin-right: 15px;
        font-size: 1em;
        font-weight: 600;
    }

    .user-info-list-middle>p {
        margin-right: 25px;
        font-size: 1em;
        font-weight: 400;
    }

    .user-info-list-middle>.num {
        padding: 2px 2px;
        background: #fff;
        border: 2px solid #111;
        font-size: 1em;
        font-weight: 400;
    }

    .user-info-list-bottom {
        display: flex;
    }

    .user-info-list-bottom>strong {
        margin-right: 15px;
        font-size: 1em;
        font-weight: 600;
    }

    .user-info-list-bottom>p {
        font-size: 1em;
        font-weight: 400;
    }

    .address-wrap {
        margin-left: 145px;
        /* background-color: skyblue; */
    }

    .user-info-address {
        margin-top: 20px;
    }

    .user-info-address>strong {
        font-size: 1em;
        font-weight: 600;
    }

    .user-info-address>p {
        margin-top: 10px;
        font-size: 1em;
        font-weight: 400;
    }


    .coupon-list-wrap {
        /* background-color: orange; */
        margin-top: 30px;
        margin-left: 145px;
    }

    .coupon-title {
        display: flex;
        align-items: center;
        gap: 15px;
    }

    .coupon-title>h2 {
        font-size: 16px;
        font-weight: 600;
    }

    .coupon-title>span {
        padding: 2px 2px;
        background: #fff;
        border: 2px solid #111;
        font-size: 1em;
        font-weight: 400;
    }

    .coupon-list>.coupon-list1,
    .coupon-list>.coupon-list2 {
        display: flex;
        gap: 60px;
        padding: 10px 3px;
        margin-top: 10px;
        border-bottom: 1px solid #111;
        font-size: 1em;
        font-weight: 400;
        width: fit-content;
    }


    .mp-product-list-wrap {
        display: flex;
        margin-top: 30px;
        margin-left: 145px;
        gap: 100px;
    }

    .mp-product-list-wrap .product-list-title {
        display: flex;
        align-items: center;
        gap: 30px;
        margin-bottom: 20px;
    }

    .mp-product-list-wrap .product-list-title>h3 {
        font-size: 1em;
        font-weight: 600;
    }

    .mp-product-list-wrap .product-list-title>span {
        /* padding: 2px 2px;
        background: #fff;
        border: 2px solid #111;
        font-size: 12px;
        font-weight: 400; */
        display: none;
    }

    .product-list {
        /* background-color: pink; */
        width: 100px;
    }

    .mp-product-list-wrap .mp-product-info {
        display: -webkit-box;
        -webkit-line-clamp: 2;
        /* 보여줄 줄 수 지정 (2줄) */
        -webkit-box-orient: vertical;

        /* 넘치는 텍스트 숨기기 */
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .mp-product-list-wrap h4 {
        text-align: center;
        margin-top: 10px;
        font-size: 1em;
        font-weight: 600;
    }

    .mp-product-list-wrap>.product-list .price {
        text-align: center;
        margin-top: 10px;
        font-size: 1em;
        font-weight: 600;
    }

    /* .mp-product-info img {
        width: 150px;
    } */

    .mp-btn {
        display: flex;
        justify-content: center;
        gap: 120px;
    }

    .mp-btn>a {
        padding: 10px 50px;
        background: #fff;
        border: 2px solid #111;
        margin-top: 90px;
        font-size: 14px;
    }

}

@media screen and (max-width:460px) {
    .inner {
        /* background: skyblue; */
        max-width: 789px;
    }

    .inner>.mp-main>h2 {
        margin-top: 15px;
        margin-left: 30px;
    }

    .user-info-list-wrap {
        /* background-color: pink; */
        margin-top: 30px;
        margin-left: 30px;
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    .user-info-list-wrap>.profile {
        /* display: block; */
        width: 100px;
        height: 100px;
        /* border: 1px solid red; */
        margin-right: 15px;
    }

    .user-info-list-top {
        display: flex;
        gap: 15px;
        align-items: center;
    }

    .user-info-list-top>strong {
        font-size: 1em;
        font-weight: 600;
    }

    .user-info-list-top>p {
        font-size: 1em;
        font-weight: 400;
    }

    .user-info-list-top>span {
        padding: 2px 2px;
        background-color: #ccfb55;
        border: 2px solid #111;
        font-size: 0.75em;
        font-weight: 400;
    }

    .user-info-list-middle {
        display: block;
        align-items: center;
        /* margin-bottom: 12px; */
    }

    .user-info-list-middle>strong {
        margin-right: 15px;
        font-size: 1em;
        font-weight: 600;
    }

    .user-info-list-middle>p {
        margin-right: 25px;
        font-size: 0.88em;
        font-weight: 400;
        margin: 10px 0 30px 0;
    }

    .user-info-list-middle>.num {
        padding: 2px 2px;
        background: #fff;
        border: 2px solid #111;
        font-size: 0.75em;
        font-weight: 400;
    }

    .user-info-list-bottom {
        display: flex;
    }

    .user-info-list-bottom>strong {
        margin-right: 16px;
        font-size: 1em;
        font-weight: 600;
        margin-top: 10px;
    }

    .user-info-list-bottom>p {
        font-size: 0.88em;
        font-weight: 400;
        margin-top: 10px;
    }

    .address-wrap {
        margin-left: 30px;
        /* background-color: skyblue; */
    }

    .user-info-address {
        margin-top: 30px;
    }

    .user-info-address>strong {
        font-size: 1em;
        font-weight: 600;
    }

    .user-info-address>p {
        margin-top: 10px;
        font-size: 0.88em;
        font-weight: 400;
    }


    .coupon-list-wrap {
        /* background-color: orange; */
        margin-top: 30px;
        margin-left: 30px;
    }

    .coupon-title {
        display: flex;
        align-items: center;
        gap: 15px;
    }

    .coupon-title>h2 {
        font-size: 1em;
        font-weight: 600;
    }

    .coupon-title>span {
        padding: 2px 2px;
        background: #fff;
        border: 2px solid #111;
        font-size: 0.75em;
        font-weight: 400;
    }

    .coupon-list>.coupon-list1,
    .coupon-list>.coupon-list2 {
        display: flex;
        gap: 25px;
        padding: 10px 3px;
        margin-top: 10px;
        border-bottom: 1px solid #111;
        font-size: 0.88em;
        font-weight: 400;
        width: fit-content;
    }


    .mp-product-list-wrap {
        display: flex;
        margin-top: 30px;
        margin-left: 30px;
        gap: 55px;
    }

    .mp-product-list-wrap .product-list-title {
        display: flex;
        align-items: center;
        gap: 30px;
        margin-bottom: 10px;
    }

    .mp-product-list-wrap .product-list-title>h3 {
        font-size: 0.88em;
        font-weight: 600;
    }

    .mp-product-list-wrap .product-list-title>span {
        /* padding: 2px 2px;
        background: #fff;
        border: 2px solid #111;
        font-size: 12px;
        font-weight: 400; */
        display: none;
    }

    .product-list {
        /* background-color: pink; */
        width: 80px;
    }

    .mp-product-list-wrap .mp-product-info {
        display: -webkit-box;
        -webkit-line-clamp: 2;
        /* 보여줄 줄 수 지정 (2줄) */
        -webkit-box-orient: vertical;

        /* 넘치는 텍스트 숨기기 */
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .mp-product-list-wrap h4 {
        text-align: center;
        margin-top: 10px;
        font-size: 0.88em;
        font-weight: 600;
    }

    .mp-product-list-wrap>.product-list .price {
        text-align: center;
        margin-top: 10px;
        font-size: 0.75em;
        font-weight: 600;
    }

    /* .mp-product-info img {
        width: 150px;
    } */

    .mp-btn {
        display: flex;
        justify-content: center;
        gap: 60px;
    }

    .mp-btn>a {
        padding: 10px 30px;
        background: #fff;
        border: 2px solid #111;
        margin-top: 75px;
        font-size: 0.75em;
    }

    .mp-footer-wrap>address .mp-footer {
        display: flex;
        justify-content: center;
        gap: 55px;
        margin-top: 60px;
        margin-bottom: 60px;
    }

    .mp-footer>li>a {
        color: #999;
        font-size: 0.75em;
        font-weight: 400;
    }

}