*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

img,
video {
    max-width: 100%;
    vertical-align: middle;
}

address,
i,
em {
    font-style: normal;
    font-weight: 300;
}

button {
    background: none;
    border: 0;
    cursor: pointer;
}